{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}" />
    <title>Chatbot Interface</title>
  </head>
  <body>
    <div class="container">
      <div class="history">
        <div style="display: flex">
          <input type="text" id="search-input" placeholder="検索" />
          <button onclick="clearSearchInput()">×</button>
        </div>
        <div class="scrollable-history">
          <ul id="history-list">
            {% for chat_id, chat in chats.items %}
            <li
              ondblclick="editHistoryTitle(this)"
              onclick="switchChat({{ chat_id }})"
            >
              履歴項目{{ forloop.counter }} <!-- chat_idの代わりにループカウンターを使用 -->
            </li>
            {% endfor %}
          </ul>
        </div>
        <button class="new-chat-button" onclick="addNewChat()">
          新規チャット
        </button>
      </div>
      <div class="chat">
        <div class="chat-header">
          <h1>KGX-HU.ai</h1>
          <img src="{% static 'kgxlogo.jpg' %}" alt="Kitagas Logo" />
        </div>
        <div class="chat-box" id="chat-box">
          <!-- 初期のチャットメッセージ -->
        </div>
        <div class="chat-input">
          <form method="POST" id="chat-form" onkeydown="return handleKeyDown(event)">
            {% csrf_token %}
            <div class="input-group">
              <textarea
                id="chat-input"
                name="text"
                placeholder="ここに入力"
                rows="1"
              ></textarea>
              <button class="clear-button" onclick="clearChatInput()">×</button>
              <button type="submit">送信</button>
            </div>
          </form>
        </div>
    </div>
    <script src="{% static '/index.js' %}"></script>
  </body>
</html>
