body {
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
  margin: 0;
}
.container {
  display: flex;
  width: 100%;
}
.history {
  width: 30%;
  background-color: #f0f0f0;
  padding: 10px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: relative;
  border-radius: 10px;
}
.history input {
  width: 70%;
  padding: 15px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #ccc;
}
.history input + button {
  padding: 10px;
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-left: 5px;
}
.scrollable-history {
  overflow-y: auto;
  height: calc(
    100% - 80px
  ); /* Adjusted to create space above the new chat button */
  margin-bottom: 20px; /* Added to create space above the new chat button */
}
.scrollable-history ul {
  list-style: none;
  padding: 0;
}
.scrollable-history ul li {
  background: white;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.new-chat-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: calc(100% - 20px);
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.chat {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.chat-header {
  text-align: center;
  margin-bottom: 20px;
}
.chat-header h1 {
  font-family: "Arial Black", Gadget, sans-serif;
  font-weight: bold;
  font-size: 36px;
}
.chat-header img {
  width: 50px;
  margin-bottom: 10px;
}
.chat-box {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.chat-box .message {
  padding: 8px 12px;
  margin-bottom: 10px;
  border-radius: 10px;
  max-width: 60%;
  line-height: 1.5;
}
.chat-box .message.user {
  background-color: #007bff;
  color: white;
  align-self: flex-end;
}
.chat-box .message.bot {
  background-color: #e0e0e0;
  color: black;
  align-self: flex-start;
}
.chat-input .input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-input .input-group textarea {
  flex-grow: 1;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
  font-size: 16px; /* Adjusted to match the original input font size */
  resize: none; /* Prevents the user from changing the size of the textarea */
  height: 38px; /* Adjusted to match the original input height */
}

.chat-input button.clear-button {
  position: absolute;
  right: 70px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
.chat-input button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
